<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="internetclothing">


  <test name="ecomapp">
  <parameter name="browser" value="chrome" />
    <classes>
   <!--    <class name="com.rudsakproject.testcases.TC_loginTest_001"/> -->
      <class name="com.rudsakproject.testcases.TC_DDTlogin_002"/>
    </classes>
  </test> 
</suite> 
